# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
dash/
.env

# Model Files (Optional: Keep .zip if small, ignore if huge)
# *.zip 

# Video Data (Don't upload 200MB of video chunks!)
video_project/*.m4s
video_project/*.mp4
video_project/ffmpeg

# Mac System Files
.DS_Store

# IDEs
.vscode/
.idea/